.boxMargins {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.imgSettings {
  border-radius: 15px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Spartan';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: white;
  font-family: 'Spartan';
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-image: url("russiabridge.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  .container {
    width: 100vw;
    height: auto;
    background-size: cover;
  }
}
a {
  color: #e9e4f0;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Spartan';
}
.container2 {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-image: url("capitol.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  .container2 {
    width: 100vw;
    height: auto;
    background-size: cover;
  }
}
a {
  color: #e9e4f0;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Spartan';
}
header {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  background: linear-gradient(to right, #ee097850, #ff6a0049);
}
header nav {
  width: 98%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: row;
    align-items: center;
  }
}
header nav #button {
  width: 10rem;
  height: 5rem;
  background-color: #ee097850;
  border-radius: 15px;
  padding: 18px;
  text-align: center;
  border: 1px solid black;
  margin-top: 3px;
}
@media (max-width: 500px) {
  header nav #button {
    margin-right: 1rem;
  }
}
header nav #button:hover {
  background-color: #ff6a0049;
  color: #e9e4f0;
}
header nav a {
  text-decoration: none;
  padding-right: 2rem;
}
header nav a:hover {
  text-decoration: underline;
}
header nav h1 {
  color: #e9e4f0;
  margin-right: 60rem;
  margin-top: 10px;
}
@media (max-width: 500px) {
  header nav h1 {
    margin: 0 auto;
  }
}
header #logo {
  width: 5%;
  height: auto;
  margin-bottom: 7px;
  filter: brightness(0) invert(1);
}
@media (max-width: 500px) {
  header #logo {
    display: none;
  }
}
header .navA {
  margin-top: 8px;
}
.home:hover {
  text-decoration: none;
}
.aboutUs {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  background: linear-gradient(to right, #3a6186cb, #89253eb4);
}
.aboutNav {
  width: 98%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.aboutNav .home:hover {
  text-decoration: none;
}
@media (max-width: 500px) {
  .aboutNav {
    flex-direction: row;
    align-items: center;
  }
}
.aboutNav #button2 {
  width: 10rem;
  height: 5rem;
  background-color: #3a6186cb;
  border-radius: 15px;
  padding: 18px;
  text-align: center;
  border: 1px solid black;
  margin-top: 3px;
}
@media (max-width: 500px) {
  .aboutNav #button2 {
    margin-right: 1rem;
  }
}
.aboutNav #button2:hover {
  background-color: #89253eb4;
  color: #e9e4f0;
}
.aboutNav a {
  text-decoration: none;
  padding-right: 2rem;
}
.aboutNav a:hover {
  text-decoration: underline;
}
.aboutNav h1 {
  color: #e9e4f0;
  margin-right: 60rem;
  margin-top: 10px;
}
@media (max-width: 500px) {
  .aboutNav h1 {
    margin: 0 auto;
  }
}
#logo {
  width: 5%;
  height: auto;
  margin-bottom: 7px;
}
@media (max-width: 500px) {
  #logo {
    display: none;
  }
}
.navA {
  margin-top: 8px;
}
footer {
  width: 100vw;
  height: 5rem;
  border: 1px solid black;
  background: linear-gradient(to right, #ee097850, #ff6a0049);
  margin: 0 auto;
}
@media (max-width: 500px) {
  footer {
    margin-top: 0;
  }
}
footer nav {
  width: 98vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
@media (max-width: 500px) {
  footer nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
}
footer nav p {
  margin: 8px 0 0 10px;
}
@media (max-width: 500px) {
  footer nav p {
    margin: 0 auto;
    font-size: 10px;
    margin-top: 20px;
  }
}
footer nav a {
  text-decoration: none;
  color: #e9e4f0;
  padding: 5px;
}
@media (max-width: 500px) {
  footer nav a {
    font-size: 12px;
    margin-left: 30px;
    display: none;
  }
}
footer nav a:hover {
  text-decoration: underline;
}
@media (max-width: 500px) {
  footer nav #button {
    display: none;
  }
}
.aboutFooter {
  width: 100vw;
  height: 50px;
  border: 1px solid black;
  background: linear-gradient(to right, #3a6186cb, #89253eb4);
  margin: 0 auto;
}
@media (max-width: 500px) {
  .aboutFooter {
    margin-top: 55.7rem;
  }
}
.aboutFooter nav {
  width: 98vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
@media (max-width: 500px) {
  .aboutFooter nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
}
.aboutFooter nav p {
  margin: 8px 0 0 10px;
}
@media (max-width: 500px) {
  .aboutFooter nav p {
    margin: 0 auto;
    font-size: 10px;
    margin-top: 20px;
  }
}
.aboutFooter nav a {
  text-decoration: none;
  color: #e9e4f0;
  padding: 5px;
}
@media (max-width: 500px) {
  .aboutFooter nav a {
    font-size: 12px;
    margin-left: 30px;
    display: none;
  }
}
.aboutFooter nav a:hover {
  text-decoration: underline;
}
@media (max-width: 500px) {
  .aboutFooter nav #button {
    display: none;
  }
}
.mainContent {
  width: 100vw;
  height: 50rem;
}
@media (max-width: 500px) {
  .mainContent {
    width: 100vw;
    height: 100vh;
  }
}
.mainContent .box {
  width: 50vw;
  height: 49rem;
  background: linear-gradient(to right, #d3cce338, #e9e4f04b);
  border-radius: 15px;
  border: 1px solid black;
  margin: 1rem 0 0 1rem;
}
@media (max-width: 500px) {
  .mainContent .box {
    height: 62rem;
    width: 90vw;
    margin: 1.5rem 0 0 1.5rem;
  }
}
.mainContent .box p {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
.picsNLinks {
  width: 100vw;
  height: 50rem;
}
@media (max-width: 500px) {
  .picsNLinks {
    height: 100vh;
    width: 100vw;
  }
}
.picsNLinks .box2 {
  height: 77%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  background: linear-gradient(to right, #bdc3c75d, #2c3e505d);
  border: 1px solid black;
  margin-top: 1rem;
}
@media (max-width: 500px) {
  .picsNLinks .box2 {
    height: 100rem;
    width: 100vw;
    padding: 0;
  }
}
.picsNLinks .box2 :nth-child(1) img {
  border: 3px solid #89253eb4;
}
.picsNLinks .box2 :nth-child(2) img {
  border: 3px solid #0f3443;
}
.picsNLinks .box2 :nth-child(3) img {
  border: 3px solid #ee097850;
}
.picsNLinks .box2 :nth-child(4) img {
  border: 3px solid #34e89d;
}
.picsNLinks .box2 :nth-child(5) img {
  border: 3px solid #89253eb4;
}
.picsNLinks .box2 :nth-child(6) img {
  border: 3px solid #0f3443;
}
.picsNLinks .box2 :nth-child(7) img {
  border: 3px solid #ee097850;
}
.picsNLinks .box2 :nth-child(8) img {
  border: 3px solid #34e89d;
}
.picsNLinks .box2 :nth-child(9) {
  margin-bottom: 5rem;
}
.picsNLinks .box2 :nth-child(9) img {
  border: 3px solid #89253eb4;
}
.picsNLinks .Joel,
.picsNLinks .Jorge,
.picsNLinks .Leo,
.picsNLinks .Toni,
.picsNLinks .James,
.picsNLinks .Neha,
.picsNLinks .Max,
.picsNLinks .Adrian,
.picsNLinks .Kayla {
  width: 10rem;
  margin: 6rem 2rem 0 0;
}
.picsNLinks .Joel p,
.picsNLinks .Jorge p,
.picsNLinks .Leo p,
.picsNLinks .Toni p,
.picsNLinks .James p,
.picsNLinks .Neha p,
.picsNLinks .Max p,
.picsNLinks .Adrian p,
.picsNLinks .Kayla p {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 1.8rem;
}
.picsNLinks .Joel .Role,
.picsNLinks .Jorge .Role,
.picsNLinks .Leo .Role,
.picsNLinks .Toni .Role,
.picsNLinks .James .Role,
.picsNLinks .Neha .Role,
.picsNLinks .Max .Role,
.picsNLinks .Adrian .Role,
.picsNLinks .Kayla .Role {
  color: white;
}
.picsNLinks .Joel img,
.picsNLinks .Jorge img,
.picsNLinks .Leo img,
.picsNLinks .Toni img,
.picsNLinks .James img,
.picsNLinks .Neha img,
.picsNLinks .Max img,
.picsNLinks .Adrian img,
.picsNLinks .Kayla img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .picsNLinks .Joel img,
  .picsNLinks .Jorge img,
  .picsNLinks .Leo img,
  .picsNLinks .Toni img,
  .picsNLinks .James img,
  .picsNLinks .Neha img,
  .picsNLinks .Max img,
  .picsNLinks .Adrian img,
  .picsNLinks .Kayla img {
    width: 200%;
    height: auto;
  }
}
.picsNLinks .Joel a,
.picsNLinks .Jorge a,
.picsNLinks .Leo a,
.picsNLinks .Toni a,
.picsNLinks .James a,
.picsNLinks .Neha a,
.picsNLinks .Max a,
.picsNLinks .Adrian a,
.picsNLinks .Kayla a {
  margin-left: 18px;
  color: black;
}
.picsNLinks .Joel a:hover,
.picsNLinks .Jorge a:hover,
.picsNLinks .Leo a:hover,
.picsNLinks .Toni a:hover,
.picsNLinks .James a:hover,
.picsNLinks .Neha a:hover,
.picsNLinks .Max a:hover,
.picsNLinks .Adrian a:hover,
.picsNLinks .Kayla a:hover {
  color: white;
  text-decoration: none;
}
.picsNLinks h1 {
  color: #e9e4f0;
  font-size: 3rem;
  margin: 1rem 0 0 2rem;
  text-align: center;
}
