.flex-Container (@justify, @direction, @align) {
    display: flex;
    justify-content: @justify;
    flex-direction: @direction;
    align-items: @align;
}

.boxMargins (@marginTop, @marginBottom) {
	margin-top: @marginTop;
	margin-bottom: @marginBottom;
}

.boxMargins {
	margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.imgSettings {
    border-radius: 15px;
}